@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

@layer base {
  html {
    font-family:
      Proxima Nova,
      system-ui,
      sans-serif;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: rgb(236, 72, 153);
  background: -moz-linear-gradient(
    180deg,
    rgba(236, 72, 153, 1) 35%,
    rgba(147, 51, 234, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(236, 72, 153, 1) 35%,
    rgba(147, 51, 234, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(236, 72, 153, 1) 35%,
    rgba(147, 51, 234, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ec4899",endColorstr="#9333ea",GradientType=1);
  border-radius: 0.5rem;
}

a:focus {
  outline: none;
}

.loader-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: transparent;
  border-radius: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  color: rgb(147, 51, 234);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.loader-ring:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid rgb(147, 51, 234);
  border-right: 3px solid rgb(147, 51, 234);
  border-radius: 50%;
  animation: animateC 3s linear infinite;
}

.loader-ring > span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 3s linear infinite;
}

.fade-in {
  animation: fadeIn 0.5s;
}

.formatted-text {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: auto;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.prose {
  width: 100%;
  max-width: 80ch;
}

#tsparticles {
  width: inherit;
  height: inherit;
  z-index: -1;
}

pre {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.copied {
  cursor:
    url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👍</text></svg>")
      16 0,
    auto;
}

.typing-indicator {
  display: flex;
  flex: none;
  align-items: flex-end;
  margin: 0;
}

.typing-indicator-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 40px;
  margin-bottom: 0.75rem;
  background-color: #9333ea;
  border-radius: 0.5rem;
}

.typing-indicator-dot {
  width: 4px;
  height: 4px;
  margin-right: 4px;
  background-color: #fafafa;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.typing-indicator-dot:first-of-type {
  margin: 0px 4px;
}

.typing-indicator-dot:nth-of-type(2) {
  animation-delay: 0.15s;
}

.typing-indicator-dot:nth-of-type(3) {
  animation-delay: 0.3s;
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-4px);
  }
}

.form-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-image: linear-gradient(to right, #9333ea, #ec4899);
  transform: translateX(100%);
  animation: shift-rightwards 1s ease-in-out infinite;
  animation-delay: 0.5s;
  z-index: 9999;
}

@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.icon-toggler-container {
  height: 25px;
  width: 50px;
  background-image: linear-gradient(to right, #9333ea, #ec4899);
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  cursor: pointer;
  transition: all 0.3s;
}

.handle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: hidden;
}

.toggler-icon {
  color: #fafafa;
}

[data-darkmode='true'] {
  background-color: #ec4899;
}

[data-darkmode='true'] .icon-toggler-container {
  background-image: linear-gradient(to right, #ec4899, #9333ea);
}

[data-darkmode='true'] .toggler-icon {
  color: #fafafa;
}

@media only screen and (min-width: 768px) {
  .prose {
    width: 80ch;
  }
}

@media only screen and (max-width: 768px) {
  #tsparticles {
    display: none;
  }

  .icon-toggler-container {
    height: 25px;
    width: 40px;
  }

  .handle {
    height: 20px;
    width: 20px;
  }
}
